/* src/components/Clock/Clock.css */

.widget-clock-container {
  background-image: linear-gradient(
      rgba(29, 17, 32, 0.774),
      rgba(29, 17, 32, 0.774)
    ),
    url("https://img.freepik.com/fotos-premium/fundo-da-via-lactea-galaxia-roxo-fundos-roxos-resumo_53876-219260.jpg?w=360");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Mantém o relógio relativo */
  margin-top: 40px; /* Ajuste a posição superior conforme necessário */
  margin-left: 700px; /* Ajuste a posição direita conforme necessário */
  width: 460px;
  height: 80px;
  font-family: "Dancing Script", cursive;
  font-weight: weight;
  font-style: normal;
  color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 15px var(--primary-color);
  border-bottom: 1px solid #ffffff;
}

.clock-time {
  font-size: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center; /* Certifica-se de que o texto está centralizado */
}
